In [23]:
import joblib
model = joblib.load('model.joblib')

In [31]:
import pandas as pd
data = []
row = []     
fare = float(input("Fare: "))
sex = input("Sex (male/female): ")
embarked = input("Embarked (C/Q/S): ")
pclass = int(input("Pclass: "))
age = float(input("Age: "))
sibsp = int(input("SibSp: "))
parch = int(input("Parch: "))
row.extend([fare, sex, embarked, pclass, age, sibsp, parch])   
data.append(row)
df1=pd.DataFrame(data,columns=['Fare',"Sex",'Embarked','Pclass','Age','SibSp','Parch'])
df1

    Fare   Sex Embarked  Pclass   Age  SibSp  Parch
0  123.0  male        S       3  45.0      3      0

In [32]:
import pandas as pd
#dimi data
data = {
    'Fare': [7.2,71.4,7.9,21.5,68,23,34,52,77],
    'Sex': ['male','female','male','female','male','male','male','female','male'],
    "Embarked":['S','S','S','S','S','C','C','C','Q'],
    "Pclass":[1,2,3,4,5,4,3,2,1],
    "Age":[22,33,54,65,54,66,87,32,98],
    "SibSp":[1,1,1,1,1,0,0,0,0],
    "Parch":[0,1,5,3,2,5,4,3,2]
}

df2=pd.DataFrame(data,columns=['Fare',"Sex",'Embarked','Pclass','Age','SibSp','Parch'])
df=pd.concat([df2,df1])

In [33]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import FunctionTransformer
import numpy as np
transformer = ColumnTransformer([
    ('tnf3',FunctionTransformer(func=np.log1p),['Fare']),
    ('tnf1',OneHotEncoder(sparse=False),['Sex']),
    ('tnf2',OneHotEncoder(sparse=False),['Embarked'])

],remainder='passthrough')

X_pred_transformed=transformer.fit_transform(df)

c:\Users\ABC\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\ABC\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
first_row = X_pred_transformed[-1]
first_row

array([ 3.71357207,  0.        ,  1.        ,  1.        ,  0.        ,
        0.        ,  1.        , 36.        ,  0.        ,  1.        ])

In [34]:
x_p=model.predict([first_row])

if x_p==0:
    print("NO Survived")
else:
    print('Survived')

Survived